<!DOCTYPE html>
<html lang="en">
  <head>
    <script src='https://cdn.plot.ly/plotly-3.3.0.min.js'></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World Of Warcraft AH Price view</title>
  </head>
  <body>
    <div id="priceChart"></div>
    <button class="timeframe-button" data-range="24h">24h</button>
    <button class="timeframe-button" data-range="1W">1W</button>
    <button class="timeframe-button" data-range="1M">1M</button>
    <button class="timeframe-button" data-range="1Y">1Y</button>
    <button class="timeframe-button" data-range="All">All</button>
    <script src="../static/script.js"></script>
  </body>
</html>